{% extends "base.html.twig" %}

{% block title 'liste commande' %}

{% block body %}<h1 class="text-center bold mt-3 text-secondary">Liste des commandes</h1>
    

    {% if commandes|length == 0 %}
        <h1 class="text-center mt-2">Il n'y a aucun commande pour le moment.</h1>  
    {% else %}
        <table class="table table-hover table-secondary caption-top mx-auto w-75">
             <tr class="table-dark row">
                    <th class="text-center col-1">Numero</th>
                    <th class="text-center col-2">Client</th>
                    <th class="text-center col-2">Produit</th>
                    <th class="text-center col-1">Qte</th>
                    <th class="text-center col-2">Date</th>
                    <th class="text-center col-4">Options</th>

                </tr>

            {% for commande in commandes %}
            <tr class="row px-auto align-middle">
                <td class="text-center col-1"><span class="align-middle">{{commande.id}}</span></td>
                <td class="text-center col-2"><span class="align-middle">{{commande.clients.nom}}</span></td>
                <td class="text-center col-2"><span class="align-middle">{{ commande.produits.design }}</span></td>
                <td class="text-center col-1"><span class="align-middle">{{ commande.qte}}</span></td>
                <td class="text-center col-2"><span class="align-middle">{{ commande.dateCommande|date('d/m/Y')}}</span></td>
                <td class="text-center col-4">
                    <button class="btn btn-dark">
                        <a href="{{ path('command_edit', {id:commande.id}) }}" style="text-decoration:none">
                            <img src="/icon/edit.png" alt="edit-icon">
                        </a>
                    </button>
                    <button class="btn btn-primary m-1">
                        <a href="#" onclick="event.preventDefault();confirm('Voulez vous vraiment supprimer la commande du client {{ commande.clients.nom }} ?') && 
                        document.getElementById('js-client-delete-form_{{ commande.id }}').submit();" style="text-decoration:none">
                            <img src="/icon/delete.png" alt="delete-icon">
                        </a>
                    </button>
                </td>
            </tr>

                <form id='js-command-delete-form_{{ commande.id }}' action="{{ path('command_delete', { id:commande.id }) }}" method="post" style="display: none;">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token('command_deletion_'~commande.id) }}">
                    <input type="hidden" name="_method" value="DELETE">
                </form>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
