{% extends "base.html.twig" %}

{% block title 'liste des clients' %}

{% block body %}

    <div class="container">
        <div class="d-flex justify-content-end">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-5 w-75 mt-1">
                        {{ form_widget(form) }}
                    </div>

                    <div class="col-2 mt-3">
                        <button type="submit" class="btn btn-secondary shadow">
                            <img src="/icon/search.png" alt="search-icon">
                        </button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>

        {% if pagination|length == 0 %}
            <p class="h1 text-center bold mt-3">Oops! Aucun client trouvé.</p>
        {% else %}
            <table class="table table-hover table-secondary caption-top mx-auto mt-1">
                <tr class="table-dark row">
                    <th class="text-center col-3">N°CLIENT</th>
                    <th class="text-center col-5">NOM</th>
                    <th class="text-center col-1">PHOTO</th>
                    <th class="text-center col-3">ACTIONS</th>
                </tr>

                {# table body #}
                {% for client in pagination %}
                    <tr class="row px-auto align-middle">
                        <td class="text-center col-3"><span class="align-middle">{{ client.numcli }}</span></td>
                        <td class="text-center col-5"><span class="align-middle">{{ client.nom }}</span></td>
                        <td class="text-center col-1"><img src="{{ (client.imageName? vich_uploader_asset(client) : 'Avatar/jeune-homme-avatar-personnage-photo-de-profil-tc667n.jpg')
                    | imagine_filter('squared_thumbnail_small') }}" class="img-thumbnail rounded mx-auto" /></td>
                        <td class="text-center col-3">
                            <button class="btn btn-dark" title="modifier {{ client.nom }}">
                                <a href="{{ path('client_edit', {id:client.numcli}) }}" class="text-decoration-none">
                                    <img src="/icon/edit.png" alt="edit-icon">
                                </a>
                            </button>
                            <button class="btn btn-primary m-1" title="Supprimer {{ client.nom }}">
                                <a href="#" class="text-decoration-none" onclick="event.preventDefault();
                                confirm('Êtes vous sûr de vouloir supprimer le client {{ client.nom }} portant le numéro {{ client.numcli }} ?') && 
                                document.getElementById('js-client-delete-form_{{ client.numcli }}').submit();">
                                    <img src="/icon/delete.png" alt="delete-icon">
                                </a>
                            </button>

                            <button class="btn btn-success" title="Voir liste des produits achetés">
                                <a href="{{ path('client_product_list', {id: client.numcli}) }}">
                                    <img src="/icon/product.png" alt="listProduct-icon">
                                </a>
                            </button>
                        </td>
                    </tr>

                    <form id='js-client-delete-form_{{ client.numcli }}' action="{{ path('client_delete', { id:client.numcli }) }}" method="post" style="display: none;">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token('client_deletion_'~client.numcli) }}">
                        <input type="hidden" name="_method" value="DELETE">
                    </form>
                {% endfor %}
            </table>

            {# display navigation #}
            <div class="d-flex justify-content-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}

    </div>
        
{% endblock %}