{% extends "base.html.twig" %}

{% block title 'liste des clients' %}

{% block body %}

    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <input type="submit" value="Rechercher">
    {{ form_end(form) }}

    {% if clients|length == 0 %}
        <p>Il n'y aucune correspondance à votre spécification.</p>
    {% else %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Numero Client</th>
                <th>Nom</th>
                <th>Photo</th>
                <th>Options</th>
            </tr>
        </thead>
        {% for client in clients %}
            <tr>
                <td>{{ client.numcli }}</td>
                <td>{{ client.nom }}</td>
                <td><img src="{{ (client.imageName? vich_uploader_asset(client) : 'Avatar/jeune-homme-avatar-personnage-photo-de-profil-tc667n.jpg')
                 | imagine_filter('squared_thumbnail_small') }}" /></td>
            
                <td>
                    <button>
                        <a href="{{ path('client_edit', {id:client.numcli}) }}">edit</a>
                    </button>
                    <button>
                        <a href="#" onclick="event.preventDefault();confirm('are you sure?') && 
                        document.getElementById('js-client-delete-form_{{ client.numcli }}').submit();">Delete</a>
                    </button>
                </td>
            </tr>

            <form id='js-client-delete-form_{{ client.numcli }}' action="{{ path('client_delete', { id:client.numcli }) }}" method="post" style="display: none;">
                <input type="hidden" name="csrf_token" value="{{ csrf_token('client_deletion_'~client.numcli) }}">
                <input type="hidden" name="_method" value="DELETE">
            </form>
        {% endfor %}
    </table>    
    {% endif %}
    
    </div>

    
{% endblock %}