{% extends "base.html.twig" %}

{% block title "Chiffres d'affaires"%}

{% block body %}
    <div class="row">
        <div class="col-11">
            <h1 class="h2 mb-4 mt-1 bolder text-center text-primary">
                Les Chiffres d'affaires des clients durant l'année {{ year }} 
            </h1>
            
            {{ form_start(form) }}
                <div class="row mt-2 mb-3 w-50">
                    <div class="col-6">
                        {{ form_widget(form.year) }}
                    </div>
    
                    <div class="col-2">
                        <button type="submit" class="btn btn-secondary">
                            <img src="/icon/search.png" alt="search-icon">
                        </button>
                    </div>
                </div>
            {{ form_end(form) }}
    
            {% if pagination|length == 0 %}
                <p class="h1 mt-3 text-center text-secondary">Aucun résultat trouvé !</p>
            {% else %}
                <table class="table table-hover table-striped table-borderless mt-3 ">
                    <thead class="text-center text-dark">
                        <tr class="row">
                            <th class="col-2">N°CLIENT</th>
                            <th class="col-3">NOM</th>
                            <th class="col-5">CHIFFRES D'AFFAIRES(FMG)</th>
                            <th class="col-2">ANNEE</th>
                        </tr>
                    </thead>
    
                    {% for client in pagination %}
                        <tr class="text-center row">
                            <td class="col-2">{{ client[0].numcli }}</td>
                            <td class="col-3">{{ client[0].nom }}</td>
                            <td class="col-5">{{ client[1] }}</td>
                            <td class="col-2">{{ year }}</td>
                        </tr>
                    {% endfor %}
                </table>

                <div class="d-flex justify-content-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            {% endif %}        
        </div>
    
    </div>

    
{% endblock %}