{% block body %}
    <div>
        <p >FACTURE N°{{ facture.id }}</p>
        <p>DATE <span style="text-decoration: underline;">{{ facture.dateFacture|date('d/m/Y') }}</span></p>
    </div>

    <div>
        <p>N°CLIENT: {{ facture.client.numcli }}</p>
        <p>NOM: {{ facture.client.nom }}</p>
    </div>

    <table>
        <thead>
            <td>DESIGNATION</td>
            <td>PU</td>
            <td>QUANTITE</td>
            <td>MONTANT</td>
        </thead>
        
        {% for command in commands %}
            <tr>
                <td>{{ command.produits.design }}</td>
                <td>{{ command.produits.pu }}</td>
                <td>{{ command.qte }}</td>
                <td>{{ command.produits.pu*command.qte }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2"></td>
            <td>TOTAL</td>
            <td>{{ total }}</td>
        </tr>
    </table>
{% endblock %}